.animate{
    animation: fade 0.5s linear forwards;
    
}

@keyframes fade {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    /* 50%{
        transform: translateX(-100px);
        opacity: 0;
    } */
    100%{
        transform: translateX(0px);
        opacity:1 ;
    }
    
}